---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    capability.openshift.io/name: MachineAPI
    include.release.openshift.io/self-managed-high-availability: "true"
  creationTimestamp: "2025-11-17T09:06:07Z"
  managedFields:
  - apiVersion: rbac.authorization.k8s.io/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .: {}
          f:capability.openshift.io/name: {}
          f:include.release.openshift.io/self-managed-high-availability: {}
        f:ownerReferences:
          .: {}
          k:{"uid":"5b5cce96-2701-4c85-af4f-4dbf8e0e7775"}: {}
      f:rules: {}
    manager: cluster-version-operator
    operation: Update
    time: "2025-11-17T09:06:07Z"
  name: control-plane-machine-set-operator
  namespace: openshift-machine-api
  ownerReferences:
  - apiVersion: config.openshift.io/v1
    controller: true
    kind: ClusterVersion
    name: version
    uid: 5b5cce96-2701-4c85-af4f-4dbf8e0e7775
  resourceVersion: "2327"
  uid: c28af990-dc6f-4d3b-9a0f-550f17f8518a
rules:
- apiGroups:
  - machine.openshift.io
  resources:
  - machines
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - machine.openshift.io
  resources:
  - controlplanemachinesets/status
  - controlplanemachinesets/finalizers
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - machine.openshift.io
  resources:
  - controlplanemachinesets
  verbs:
  - get
  - list
  - watch
  - update
  - patch
  - create
  - delete
- apiGroups:
  - machine.openshift.io
  resources:
  - machinesets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - create
  - update
