---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  annotations:
    capability.openshift.io/name: NodeTuning
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
  creationTimestamp: "2025-11-17T09:05:42Z"
  generation: 1
  labels:
    role: alert-rules
  managedFields:
  - apiVersion: monitoring.coreos.com/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .: {}
          f:capability.openshift.io/name: {}
          f:include.release.openshift.io/ibm-cloud-managed: {}
          f:include.release.openshift.io/self-managed-high-availability: {}
          f:include.release.openshift.io/single-node-developer: {}
        f:labels:
          .: {}
          f:role: {}
        f:ownerReferences:
          .: {}
          k:{"uid":"5b5cce96-2701-4c85-af4f-4dbf8e0e7775"}: {}
      f:spec:
        .: {}
        f:groups:
          .: {}
          k:{"name":"node-tuning-operator.rules"}:
            .: {}
            f:name: {}
            f:rules: {}
    manager: cluster-version-operator
    operation: Update
    time: "2025-11-17T09:05:42Z"
  name: node-tuning-operator
  namespace: openshift-cluster-node-tuning-operator
  ownerReferences:
  - apiVersion: config.openshift.io/v1
    controller: true
    kind: ClusterVersion
    name: version
    uid: 5b5cce96-2701-4c85-af4f-4dbf8e0e7775
  resourceVersion: "1587"
  uid: 555d40f6-2787-41f5-b2cd-8f46b223268d
spec:
  groups:
  - name: node-tuning-operator.rules
    rules:
    - alert: NTOPodsNotReady
      annotations:
        description: |
          Pod {{ $labels.pod }} is not ready.
          Review the "Event" objects in "openshift-cluster-node-tuning-operator" namespace for further details.
        summary: Pod {{ $labels.pod }} is not ready.
      expr: |
        kube_pod_status_ready{namespace='openshift-cluster-node-tuning-operator', condition='true'} == 0
      for: 30m
      labels:
        severity: warning
    - alert: NTODegraded
      annotations:
        description: The Node Tuning Operator is degraded. Review the "node-tuning"
          ClusterOperator object for further details.
        summary: The Node Tuning Operator is degraded.
      expr: nto_degraded_info == 1
      for: 2h
      labels:
        severity: warning
    - expr: count by (_id) (nto_profile_calculated_total{profile!~"openshift-node",profile!~"openshift-control-plane",profile!~"openshift"})
      record: nto_custom_profiles:count
