---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  annotations:
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
  creationTimestamp: "2025-11-17T09:05:42Z"
  generation: 1
  managedFields:
  - apiVersion: monitoring.coreos.com/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .: {}
          f:exclude.release.openshift.io/internal-openshift-hosted: {}
          f:include.release.openshift.io/self-managed-high-availability: {}
          f:include.release.openshift.io/single-node-developer: {}
        f:ownerReferences:
          .: {}
          k:{"uid":"5b5cce96-2701-4c85-af4f-4dbf8e0e7775"}: {}
      f:spec:
        .: {}
        f:groups:
          .: {}
          k:{"name":"cluster-version"}:
            .: {}
            f:name: {}
            f:rules: {}
          k:{"name":"scheduler-legacy-policy-deprecated"}:
            .: {}
            f:name: {}
            f:rules: {}
    manager: cluster-version-operator
    operation: Update
    time: "2025-11-17T09:05:42Z"
  name: kube-scheduler-operator
  namespace: openshift-kube-scheduler-operator
  ownerReferences:
  - apiVersion: config.openshift.io/v1
    controller: true
    kind: ClusterVersion
    name: version
    uid: 5b5cce96-2701-4c85-af4f-4dbf8e0e7775
  resourceVersion: "1576"
  uid: 87439d41-0af6-4ef8-b794-a2f57f96c2cd
spec:
  groups:
  - name: cluster-version
    rules:
    - alert: KubeSchedulerDown
      annotations:
        description: KubeScheduler has disappeared from Prometheus target discovery.
        runbook_url: https://github.com/openshift/runbooks/blob/XXXXXX/alerts/cluster-kube-scheduler-operator/KubeSchedulerDown.md
        summary: Target disappeared from Prometheus target discovery.
      expr: |
        absent(up{job="scheduler"} == 1)
      for: 15m
      labels:
        namespace: openshift-kube-scheduler
        severity: critical
  - name: scheduler-legacy-policy-deprecated
    rules:
    - alert: SchedulerLegacyPolicySet
      annotations:
        description: The scheduler is currently configured to use a legacy scheduler
          policy API. Use of the policy API is deprecated and removed in 4.10.
        summary: Legacy scheduler policy API in use by the scheduler.
      expr: |
        cluster_legacy_scheduler_policy > 0
      for: 60m
      labels:
        severity: warning
