---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    k8s.ovn.org/pod-networks: '{"default":{"ip_addresses":["10.129.0.31/23","fd02:0:0:2::1f/64"],"mac_address":"0a:58:0a:81:00:1f","gateway_ips":["10.129.0.1","fd02:0:0:2::1"],"routes":[{"dest":XXXXXXXXXXXXXXX,"nextHop":"10.129.0.1"},{"dest":XXXXXXXXXXXXXXX,"nextHop":"10.129.0.1"},{"dest":"100.64.0.0/16","nextHop":"10.129.0.1"},{"dest":"fd02::/48","nextHop":"fd02:0:0:2::1"},{"dest":"fd03::/112","nextHop":"fd02:0:0:2::1"},{"dest":"fd98::/64","nextHop":"fd02:0:0:2::1"}]}}'
    k8s.v1.cni.cncf.io/network-status: |-
      [{
          "name": "ovn-kubernetes",
          "interface": "eth0",
          "ips": [
              "10.129.0.31",
              "fd02:0:0:2::1f"
          ],
          "mac": "0a:58:0a:81:00:1f",
          "default": true,
          "dns": {}
      }]
    openshift.io/scc: restricted-v2
    seccomp.security.alpha.kubernetes.io/pod: runtime/default
  creationTimestamp: "2025-11-17T09:11:19Z"
  generateName: ingress-operator-66db58ffbb-
  labels:
    name: ingress-operator
    pod-template-hash: 66db58ffbb
  managedFields:
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .: {}
          f:target.workload.openshift.io/management: {}
        f:generateName: {}
        f:labels:
          .: {}
          f:name: {}
          f:pod-template-hash: {}
        f:ownerReferences:
          .: {}
          k:{"uid":"b9e3eb44-b458-43e5-a089-5745eabd9fb6"}: {}
      f:spec:
        f:containers:
          k:{"name":"ingress-operator"}:
            .: {}
            f:command: {}
            f:env:
              .: {}
              k:{"name":"CANARY_IMAGE"}:
                .: {}
                f:name: {}
                f:value: {}
              k:{"name":"IMAGE"}:
                .: {}
                f:name: {}
                f:value: {}
              k:{"name":"RELEASE_VERSION"}:
                .: {}
                f:name: {}
                f:value: {}
              k:{"name":"WATCH_NAMESPACE"}:
                .: {}
                f:name: {}
                f:valueFrom:
                  .: {}
                  f:fieldRef: {}
            f:image: {}
            f:imagePullPolicy: {}
            f:name: {}
            f:resources:
              .: {}
              f:requests:
                .: {}
                f:cpu: {}
                f:memory: {}
            f:securityContext:
              .: {}
              f:allowPrivilegeEscalation: {}
              f:capabilities:
                .: {}
                f:drop: {}
            f:terminationMessagePath: {}
            f:terminationMessagePolicy: {}
            f:volumeMounts:
              .: {}
              k:{"mountPath":"/etc/pki/ca-trust/extracted/pem"}:
                .: {}
                f:mountPath: {}
                f:name: {}
                f:readOnly: {}
              k:{"mountPath":"/var/run/secrets/openshift/serviceaccount"}:
                .: {}
                f:mountPath: {}
                f:name: {}
                f:readOnly: {}
          k:{"name":"kube-rbac-proxy"}:
            .: {}
            f:args: {}
            f:image: {}
            f:imagePullPolicy: {}
            f:name: {}
            f:ports:
              .: {}
              k:{"containerPort":9393,"protocol":"TCP"}:
                .: {}
                f:containerPort: {}
                f:name: {}
                f:protocol: {}
            f:resources:
              .: {}
              f:requests:
                .: {}
                f:cpu: {}
                f:memory: {}
            f:securityContext:
              .: {}
              f:allowPrivilegeEscalation: {}
              f:capabilities:
                .: {}
                f:drop: {}
            f:terminationMessagePath: {}
            f:terminationMessagePolicy: {}
            f:volumeMounts:
              .: {}
              k:{"mountPath":"/etc/tls/private"}:
                .: {}
                f:mountPath: {}
                f:name: {}
                f:readOnly: {}
        f:dnsPolicy: {}
        f:enableServiceLinks: {}
        f:nodeSelector: {}
        f:priorityClassName: {}
        f:restartPolicy: {}
        f:schedulerName: {}
        f:securityContext:
          .: {}
          f:runAsNonRoot: {}
          f:seccompProfile:
            .: {}
            f:type: {}
        f:serviceAccount: {}
        f:serviceAccountName: {}
        f:terminationGracePeriodSeconds: {}
        f:tolerations: {}
        f:volumes:
          .: {}
          k:{"name":"bound-sa-token"}:
            .: {}
            f:name: {}
            f:projected:
              .: {}
              f:defaultMode: {}
              f:sources: {}
          k:{"name":"metrics-tls"}:
            .: {}
            f:name: {}
            f:secret:
              .: {}
              f:defaultMode: {}
              f:secretName: {}
          k:{"name":"trusted-ca"}:
            .: {}
            f:configMap:
              .: {}
              f:defaultMode: {}
              f:items: {}
              f:name: {}
            f:name: {}
    manager: kube-controller-manager
    operation: Update
    time: "2025-11-17T09:11:19Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status:
        f:conditions:
          .: {}
          k:{"type":"PodScheduled"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:message: {}
            f:reason: {}
            f:status: {}
            f:type: {}
    manager: kube-scheduler
    operation: Update
    subresource: status
    time: "2025-11-17T09:11:19Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          f:k8s.ovn.org/pod-networks: {}
    manager: XXXXXX2
    operation: Update
    subresource: status
    time: "2025-11-17T09:20:00Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          f:k8s.v1.cni.cncf.io/network-status: {}
    manager: multus-daemon
    operation: Update
    subresource: status
    time: "2025-11-17T09:21:35Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status:
        f:conditions:
          k:{"type":"ContainersReady"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
          k:{"type":"Initialized"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
          k:{"type":"Ready"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
        f:containerStatuses: {}
        f:hostIP: {}
        f:phase: {}
        f:podIP: {}
        f:podIPs:
          .: {}
          k:{"ip":"10.129.0.31"}:
            .: {}
            f:ip: {}
          k:{"ip":"fd02:0:0:2::1f"}:
            .: {}
            f:ip: {}
        f:startTime: {}
    manager: kubelet
    operation: Update
    subresource: status
    time: "2025-11-17T09:24:03Z"
  name: ingress-operator-66db58ffbb-hlkc5
  namespace: openshift-ingress-operator
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
    controller: true
    kind: ReplicaSet
    name: ingress-operator-66db58ffbb
    uid: b9e3eb44-b458-43e5-a089-5745eabd9fb6
  resourceVersion: "13339"
  uid: 1dfe20a9-54bf-4892-b6fb-c4b3f6ca458e
spec:
  containers:
  - command:
    - ingress-operator
    - start
    - --namespace
    - $(WATCH_NAMESPACE)
    - --image
    - $(IMAGE)
    - --canary-image
    - $(CANARY_IMAGE)
    - --release-version
    - $(RELEASE_VERSION)
    env:
    - name: RELEASE_VERSION
      value: 4.14.59
    - name: WATCH_NAMESPACE
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: metadata.namespace
    - name: IMAGE
      value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:0edb715030d631711ac59ca73dc7f9083080f937f5675f5e45503e40b1e8aa5d
    - name: CANARY_IMAGE
      value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:6913f393088542a2ab8382b1f12df53c6bbb6ccc8bde7ee8736053b7875be849
    image: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:6913f393088542a2ab8382b1f12df53c6bbb6ccc8bde7ee8736053b7875be849
    imagePullPolicy: IfNotPresent
    name: ingress-operator
    resources:
      requests:
        cpu: 10m
        memory: 56Mi
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      runAsUser: 1000140000
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: FallbackToLogsOnError
    volumeMounts:
    - mountPath: /etc/pki/ca-trust/extracted/pem
      name: trusted-ca
      readOnly: true
    - mountPath: /var/run/secrets/openshift/serviceaccount
      name: bound-sa-token
      readOnly: true
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-9mfj6
      readOnly: true
  - args:
    - --logtostderr
    - --secure-listen-address=:9393
    - --tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
    - --upstream=http://127.0.0.1:60000/
    - --tls-cert-file=/etc/tls/private/tls.crt
    - --tls-private-key-file=/etc/tls/private/tls.key
    image: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:ba9ff4c933739f1774bc8277d636053c5306863221a8c7b7b9ddc4470eb7feff
    imagePullPolicy: IfNotPresent
    name: kube-rbac-proxy
    ports:
    - containerPort: 9393
      name: metrics
      protocol: TCP
    resources:
      requests:
        cpu: 10m
        memory: 40Mi
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      runAsUser: 1000140000
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
    volumeMounts:
    - mountPath: /etc/tls/private
      name: metrics-tls
      readOnly: true
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-9mfj6
      readOnly: true
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  nodeName: XXXXXX2
  nodeSelector:
    kubernetes.io/os: linux
    node-role.kubernetes.io/XXXXXX: ""
  preemptionPolicy: PreemptLowerPriority
  priority: 2000000000
  priorityClassName: system-cluster-critical
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext:
    fsGroup: 1000140000
    runAsNonRoot: true
    seLinuxOptions:
      level: s0:c12,c4
    seccompProfile:
      type: RuntimeDefault
  serviceAccount: ingress-operator
  serviceAccountName: ingress-operator
  terminationGracePeriodSeconds: 30
  tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/XXXXXX
    operator: Exists
  - effect: NoExecute
    key: node.kubernetes.io/unreachable
    operator: Exists
    tolerationSeconds: 120
  - effect: NoExecute
    key: node.kubernetes.io/not-ready
    operator: Exists
    tolerationSeconds: 120
  - effect: NoSchedule
    key: node.kubernetes.io/memory-pressure
    operator: Exists
  volumes:
  - name: metrics-tls
    secret:
      defaultMode: 420
      secretName: metrics-tls
  - configMap:
      defaultMode: 420
      items:
      - key: ca-bundle.crt
        path: tls-ca-bundle.pem
      name: trusted-ca
    name: trusted-ca
  - name: bound-sa-token
    projected:
      defaultMode: 420
      sources:
      - serviceAccountToken:
          audience: openshift
          expirationSeconds: 3600
          path: token
  - name: kube-api-access-9mfj6
    projected:
      defaultMode: 420
      sources:
      - serviceAccountToken:
          expirationSeconds: 3607
          path: token
      - configMap:
          items:
          - key: ca.crt
            path: ca.crt
          name: kube-root-ca.crt
      - downwardAPI:
          items:
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
            path: namespace
      - configMap:
          items:
          - key: service-ca.crt
            path: service-ca.crt
          name: openshift-service-ca.crt
status:
  conditions:
  - lastProbeTime: null
    lastTransitionTime: "2025-11-17T09:19:25Z"
    status: "True"
    type: Initialized
  - lastProbeTime: null
    lastTransitionTime: "2025-11-17T09:24:03Z"
    status: "True"
    type: Ready
  - lastProbeTime: null
    lastTransitionTime: "2025-11-17T09:24:03Z"
    status: "True"
    type: ContainersReady
  - lastProbeTime: null
    lastTransitionTime: "2025-11-17T09:19:25Z"
    status: "True"
    type: PodScheduled
  containerStatuses:
  - containerID: cri-o://ef985d6b194197d4690e050d44ee36da8a658a5a8148e54a5c33aa3c3e578c4c
    image: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:6913f393088542a2ab8382b1f12df53c6bbb6ccc8bde7ee8736053b7875be849
    imageID: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:6913f393088542a2ab8382b1f12df53c6bbb6ccc8bde7ee8736053b7875be849
    lastState:
      terminated:
        containerID: cri-o://73ab93b0e082e181de4a96bd6e6f12e612d852f745d6d9cfbc3887349fdf97f4
        exitCode: 1
        finishedAt: "2025-11-17T09:24:02Z"
        message: "ontroller\": \"error_page_configmap_controller\"}\n2025-11-17T09:23:49.029Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          XXXXXXs finished\t{\"controller\": \"ingress_controller\"}\n2025-11-17T09:23:49.029Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          XXXXXXs finished\t{\"controller\": \"configurable_route_controller\"}\n2025-11-17T09:23:49.029Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          XXXXXXs finished\t{\"controller\": \"dns_controller\"}\n2025-11-17T09:23:49.029Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          XXXXXXs finished\t{\"controller\": \"status_controller\"}\n2025-11-17T09:23:49.037Z\tINFO\toperator.canary_controller\tcanary/namespace.go:28\tcreated
          canary namespace\t{\"namespace\": \"openshift-ingress-canary\"}\n2025-11-17T09:24:02.045Z\tERROR\toperator.init\tcontroller/controller.go:265\tReconciler
          error\t{\"controller\": \"canary_controller\", \"object\": {\"name\":\"default\",\"namespace\":\"openshift-ingress-operator\"},
          \"namespace\": \"openshift-ingress-operator\", \"name\": \"default\", \"reconcileID\":
          \"20d4e195-2868-4d8a-bd64-100a94aaf2d2\", \"error\": \"failed to ensure
          canary daemonset: failed to create canary daemonset openshift-ingress-canary/ingress-canary:
          Internal error occurred: admission plugin \\\"image.openshift.io/ImagePolicy\\\"
          failed to complete mutation in 13s\"}\n2025-11-17T09:24:02.046Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          XXXXXXs finished\t{\"controller\": \"canary_controller\"}\n2025-11-17T09:24:02.046Z\tINFO\toperator.init\truntime/asm_amd64.s:1598\tStopping
          and waiting for caches\n2025-11-17T09:24:02.046Z\tINFO\toperator.init\truntime/asm_amd64.s:1598\tStopping
          and waiting for webhooks\n2025-11-17T09:24:02.046Z\tINFO\toperator.init\truntime/asm_amd64.s:1598\tWait
          completed, proceeding to shutdown the manager\n2025-11-17T09:24:02.047Z\tINFO\toperator.main\truntime/asm_amd64.s:1598\tfile
          watch events channel closed\n2025-11-17T09:24:02.047Z\tERROR\toperator.main\tcobra/command.go:920\terror
          starting\t{\"error\": \"failed to wait for route_metrics_controller caches
          to sync: timed out waiting for cache to be synced for Kind *v1.Route\"}\n"
        reason: Error
        startedAt: "2025-11-17T09:21:48Z"
    name: ingress-operator
    ready: true
    restartCount: 1
    started: true
    state:
      running:
        startedAt: "2025-11-17T09:24:02Z"
  - containerID: cri-o://d18591e4fb936560930814511808fd183e5c54d66bc2d053d40b32a55827c827
    image: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:ba9ff4c933739f1774bc8277d636053c5306863221a8c7b7b9ddc4470eb7feff
    imageID: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:ba9ff4c933739f1774bc8277d636053c5306863221a8c7b7b9ddc4470eb7feff
    lastState: {}
    name: kube-rbac-proxy
    ready: true
    restartCount: 0
    started: true
    state:
      running:
        startedAt: "2025-11-17T09:21:48Z"
  hostIP: XXXXXXXXXXX
  phase: Running
  podIP: 10.129.0.31
  podIPs:
  - ip: 10.129.0.31
  - ip: fd02:0:0:2::1f
  qosClass: Burstable
  startTime: "2025-11-17T09:19:25Z"
